@import url("https://fonts.googleapis.com/css2?family=Nova+Mono&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,100;0,300;0,400;0,700;0,900;1,100;1,300;1,400;1,700;1,900&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Dosis:wght@200..800&display=swap");
/*
font-family: 'Nova Mono', monospace;
font-family: 'Lato', sans-serif;
 font-family: "Dosis", sans-serif;
*/

/*
COLORS:

BLACK: 363062
DARK-PURPLE: #363062
PURPLE: #4D4C7D
ORANGE: #F99417
WHITE: #F5F5F5
GRAY-BLUE: #45717a
*/
#appContainer,
html,
body {
  background-color: #f5f5f5;
}
* {
  font-family: "Dosis", sans-serif;
  color: #3c3c3c;
}

/*---------------------------------------------------------- NAVBAR ------------------------------------------------------------*/
nav {
  font-family: "Nova Mono", monospace;
  background-color: #45717a;
}

#NavLogoContainer {
  width: 360px;
  height: auto;
}

#NavLogoContainer img {
  width: 360px;
  height: auto;
}

#NavPageLinks * {
  text-decoration: none;
  color: white;
}
